<h1>Text Input: <%= @text_input.name %></h1>
<% if notice %>
  <div class="alert alert-success"><%= notice %></div>
<% end %>
<div class="card">
  <div class="card-header">
    <strong>Name:</strong> <%= @text_input.name %>
  </div>
  <div class="card-body">
    <h5 class="card-title">Content</h5>
    <div class="card-text">
      <pre><%= @text_input.content %></pre>
    </div>
  </div>
  <div class="card-footer text-muted">
    Created: <%= @text_input.created_at.to_s %>
  </div>
</div>
<div class="mt-3">
  <%= link_to "New Text Input", new_text_input_path, class: "btn btn-primary" %>
  <%= link_to "Back", text_inputs_path, class: "btn btn-secondary" if respond_to?(:text_inputs_path) %>
</div>

